module.exports = 
  google:
    clientId: 'your google consumerKey'
    clientSecret: 'your google consumerSecret'
    access_token: '...'
    refresh_token: '...'
  facebook:
    appId: '...'
    appSecret: '...'
    access_token: '...'
  twitter:
    consumerKey: '...'
    consumerSecret: '...'
    access_token: '...'
    access_token_secret: '...'
  linkedin:
    apiKey: '...'
    secretKey: '...'
    access_token: '...'
    access_token_secret: '...'